@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  color: white;
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background: rgba(107, 29, 29, 0.61);
}

.cont {
  outline: 2px solid #78048f;
  height: 400px;
  width: 400px;
  margin: 50px auto;
  position: relative;
}

.greeN {
  background-color: green;
  width: 100px;
}

.board {
  padding-left: -3px;
  height: 100%;
}

.board__pixel-bg_active {
  background-color: red;
}

.board__white-pixel_bg_inactive {
  background-color: white;
}

.board__black-pixel_bg_inactive {
  background-color: black;
}

.board__check_white, .board__check_black {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border: 3px solid black;
}

.board__check_white__inner-round, .board__check_black__inner-round {
  width: 26.25px;
  height: 26.25px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 3px 3px black;
          box-shadow: 1px 1px 3px 3px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board__check_white {
  border: 3px solid orange;
}

.board__check_white__inner-round {
  background-color: rgba(255, 166, 0, 0.986);
}

.board__check_black {
  border: 2px solid brown;
  background-color: black;
}

.board__check_black__inner-round {
  background-color: brown;
}

.board__column {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.board__raw {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.board__pixel_white {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  background: #bebebe;
  border: 2px solid #78048f;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.board__pixel_black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  position: relative;
  width: 50px;
  height: 50px;
  background: black;
  border: 2px solid #78048f;
}

.Buttons__container {
  margin: 0 auto;
  max-width: 500px;
}

.Buttons__column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Buttons__button {
  font-size: 30px;
  height: 500px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  font-family: sans-serif;
  text-shadow: -2px -2px 4px black;
  color: white;
  font-weight: 700;
  font-size: 20px;
  background-color: rgba(8, 124, 201, 0.849);
  border-radius: 15px;
  padding: 5px;
  width: 200px;
  height: 55px;
  text-align: center;
}

.Buttons__button:hover {
  text-decoration: underline;
}

.colorToMove {
  width: 300px;
  text-align: center;
  margin: 10px auto;
}

.colorToMove__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  text-shadow: -2px -2px 4px black;
  color: white;
  font-weight: 700;
  font-size: 20px;
  background-color: rgba(8, 124, 201, 0.849);
  border-radius: 15px;
  padding: 5px;
  width: 200px;
  height: 55px;
  text-align: center;
}
